<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>File list</title>
    <link rel="stylesheet" href="./static/w3.css">
</head>
<body>
  <div class="w3-container w3-blue w3-bottombar">
      <header class="w3-container w3-blue w3-responsive">
             <h1 class="w3-center">GoTube<img src="./static/GoTube32x32.png" width="32" height="32" alt="GoTube Logo"></h1>
      </header>
  </div>
<div class="w3-center w3-bar w3-blue w3-bottombar">
  <a href="/lst" class="w3-bar-item w3-button w3-round-xxlarge w3-mobile">Video List</a>
  <a href="/Send" class="w3-bar-item w3-button w3-round-xxlarge w3-mobile">Upload Video</a>
  <a href="/queque" class="w3-bar-item w3-button w3-round-xxlarge w3-mobile">Processing Queque status</a>
  <a href="/editconfig" class="w3-bar-item w3-button w3-round-xxlarge w3-mobile">Admin Panel</a>
</div>

<table class="w3-table w3-striped w3-bordered w3-margin w3-center">
<caption>Video List:</caption>
  <tr>
    <th>Name</th>
    <th>Last Modified</th>
    {{if .CanDelete}}
    <th>Delete</th>
    {{end}}
  </tr>
  {{range .Files}}
  <tr>
      <td><a href='./vp?videoname={{.Name}}'><img src="/converted/{{.Name}}/output.jpeg" alt="{{.Name}} Thumbnail" width="320" height="240"></a>      <a href='./vp?videoname={{.Name}}'>{{.Name}}</a> </td>
      <td>{{.ModTime.Format "Jan 02, 2006 15:04:05"}}</td>
      {{if $.CanDelete}}
    <td><a href='./deleteVideo?videoname={{.Name}}'><img src="/static/Trash42x42.png" alt="Delete {{.Name}}" width="42" height="42"></a></td>
    {{end}}
  </tr>
  {{end}}
</table>
<div class="pagination">
  {{if .PrevPage}}
  <a href="?page={{.PrevPage}}">&laquo; Previous</a>
  {{end}}
  {{if .NextPage}}
  <a href="?page={{.NextPage}}">Next &raquo;</a>
  {{end}}
</div>
      <footer class="w3-container w3-blue w3-responsive">
        <h5 class="w3-center"><a href="https://github.com/jackyes/GoTube"><img src="/static/github-mark.png" width="32" height="32" alt="GitHub Logo"> GoTube </a> </h5>
      </footer>
</body>
</html>
